body, html {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.background {
    flex: 1;
    background-image: url("../img/home-background.jpg");
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-container {

}

/*.header-text {*/
/*    color: white;*/
/*    font-size: 4vw;*/
/*    top: 25px;*/

/*    !* These properties are for the typing animation *!*/
/*    display: inline-flex;*/
/*    overflow: hidden;*/
/*    letter-spacing: 2px;*/
/*    animation: typing 3s steps(25, end), blink .75s step-end infinite;*/
/*    white-space: nowrap;*/
/*    border-right: 2px solid white;*/
/*    box-sizing: border-box;*/
/*    position: relative;*/
/*    left: 25%;*/
/*}*/

/*!* Specify the typing position *!*/
/*@keyframes typing {*/
/*    from {*/
/*        width: 0%*/
/*    }*/

/*    to {*/
/*        width: 48%*/
/*    }*/
/*}*/

/*!* Specify the blinking position *!*/
/*@keyframes blink {*/

/*    from,*/
/*    to {*/
/*        border-color: transparent*/
/*    }*/

/*    50% {*/
/*        border-color: white*/
/*    }*/
/*}*/

/*.intro {*/
/*    position: relative;*/
/*    top: -150px;*/
/*    text-align: center;*/
/*    color: white;*/
/*}*/

/*.intro-body {*/
/*    margin: auto;*/
/*    margin-bottom: 25px;*/
/*    font-size: large;*/
/*   */
/*}*/