.header {
    height: 200px;
    /* background-color: #343a40; */
}

.home-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("https://images.wallpaperscraft.com/image/single/city_night_moon_145265_1920x1080.jpg");
}

.header-text {
    color: white;
    font-size: 4vw;
    top: 25px;

    /* These properties are for the typing animation */
    display: inline-flex;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 3s steps(25, end), blink .75s step-end infinite;
    white-space: nowrap;
    border-right: 2px solid white;
    box-sizing: border-box;
    position: relative;
    left: 25%;
}

/* Specify the typing position */
@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 48%
    }
}

/* Specify the blinking position */
@keyframes blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white
    }
}

.intro {
    position: relative;
    top: -150px;
    text-align: center;
    color: white;
}

.intro-body {
    margin: auto;
    margin-bottom: 25px;
    font-size: large;
   
}