body, html {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.background {
    flex: 1;
    background: url("../img/background1.jpg") no-repeat center center / cover;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container {
    margin-top: 200px;
    width: fit-content;
    display: flex;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.hidden {
    z-index: -1;
}

.home-container * {
    color: #fff;
}

.home-container h1 {
    font-size: 4rem;
}

.home-container h2 {
    font-size: 1.5rem;
}

.home-container button {
    width: min-content;
    padding: 5px;
    border-radius: 3px;
}

.home-container a {
    text-decoration: none;
}

.home-container a:hover {
    font-style: italic;
    color: #fff;
}

.home-container img {
    color: #fff;
    height: 1.5rem;
}

.blink {
  border-right: 0.3rem solid rgba(255,255,255, .8);
  animation: blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255,255,255 .8);
  }
  to {
    border-right-color: transparent;
  }
}