
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#map_3bf637f455213892e02f3a1c446e53cf {
    position: relative;
    width: 50.0%;
    height: 50.0%;
    left: 0.0%;
    top: 0.0%;
}

