{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<div class="about-container">
    <div class="header">
        <h1 class="header-text">About</h1>
    </div>

    <!-- Bootstrap carousel -->
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">

        <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
        </ol>

        <!-- carousel items -->
        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="card">
                    <img class="card-img-top-luke" src="../static/img/luke/luke_jacket.jpg" alt="luke jacket">
                    <div class="card-body">
                        <h5 class="card-title">{{data.luke.name}}</h5>
                        <p class="card-text">{{data.luke.about}}</p>
                        <b class="card-text">Education</b>
                        <p class="card-text">{{data.luke.education}}</p>
                        <b class="card-text">Hobbies</b>
                        <p class="card-text">I enjoy {{data.luke.hobbies}}</p>

                        <div class="well text-center luke-hobby-imgs">
                            <div class="row">
                                <div class="col-md-6">
                                    <a><img src="../static/img/luke/luke_valley.jpg" alt="luke in the valley"
                                            class="img-fluid img-hobby1"></a>
                                </div>
                                <div class="col-md-6">
                                    <a><img src="../static/img/luke/Sophomore_Year.jpg" alt="luke playing soccer"
                                            class="img-fluid img-hobby2"></a>
                                </div>
                            </div>
                        </div>


                        <b class="card-text">Contact</b>
                        <br>
                        <a href={{ data.luke.social[0].val }}>
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                        <a href={{ data.luke.social[1].val }}>
                            <i class="fa fa-github"></i>
                        </a>
                        <a href="mailto:{{ data.luke.social[2].val }}">
                            <i class="fa fa-envelope"></i>
                        </a>

                        <br>


                        <a href="{{ url_for('experience') }}" class="btn btn-lg btn-dark btn-outline-light">
                            See More! </a>

                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="card">
                    <img class="card-img-top-sam" src="../static/img/sam/samSelfie.jpg" alt="sam selfie">
                    <div class="card-body">
                        <h5 class="card-title">{{data.sam.name}}</h5>
                        <p class="card-text">{{data.sam.about}}</p>
                        <b class="card-text">Education</b>
                        <p class="card-text">{{data.sam.education}}</p>
                        <b class="card-text">Hobbies</b>
                        <p class="card-text">I enjoy {{data.sam.hobbies}}</p>

                        <div class="well text-center sam-hobby-imgs">
                            <div class="row">
                                <div class="col-md-6 car-container">
                                    <a><img src="../static/img/sam/cars.jpg" alt="cars"
                                            class="img-fluid img-hobby1"></a>
                                </div>
                                <div class="col-md-6 comp-container">
                                    <a><img src="../static/img/sam/computer.jpg" alt="computer"
                                            class="img-fluid img-hobby2"></a>
                                </div>
                            </div>
                        </div>

                        <b class="card-text">Contact</b>
                        <br>
                        <a href={{ data.sam.social[0].val }}>
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                        <a href={{ data.sam.social[1].val }}>
                            <i class="fa fa-github"></i>
                        </a>
                        <a href="mailto:{{ data.sam.social[2].val }}">
                            <i class="fa fa-envelope"></i>
                        </a>

                        <br>

                        <a href="{{ url_for('experience') }}" class="btn btn-lg btn-dark btn-outline-light">
                            See More! </a>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="card">
                    <img class="card-img-top-mustafa" src="../static/img/mustafa/mustafa_profile.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{data.mustafa.name}}</h5>
                        <p class="card-text">{{data.mustafa.about}}</p>
                        <b class="card-text">Education</b>
                        <p class="card-text">{{data.mustafa.education}}</p>
                        <b class="card-text">Hobbies</b>
                        <p class="card-text">I enjoy {{data.mustafa.hobbies}}</p>

                        <div class="well text-center mus-hobby-imgs">
                            <div class="row">
                                <div class="col-md-6">
                                    <a><img src="../static/img/mustafa/basketball.jpg" alt="inn_logo"
                                            class="img-fluid img-hobby1"></a>
                                </div>
                                <div class="col-md-6">
                                    <a><img src="../static/img/mustafa/persona.jpg" alt="ccs_logo"
                                            class="img-fluid img-hobby2"></a>
                                </div>
                            </div>
                        </div>

                        <b class="card-text">Contact</b>
                        <br>
                        <a href={{ data.mustafa.social[0].val }}>
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                        <a href={{ data.mustafa.social[1].val }}>
                            <i class="fa fa-github"></i>
                        </a>
                        <a href="mailto:{{ data.mustafa.social[2].val }}">
                            <i class="fa fa-envelope"></i>
                        </a>

                        <br>
                        <a href="{{ url_for('experience') }}" class="btn btn-lg btn-dark btn-outline-light">
                            See More! </a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </button>
    </div>

</div>

{% endblock %}