{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/experience.css') }}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>Experience</h1>
<div class="experience">

    <!-- Expected to send this data to a bootstrap element for better final result. -->
    <h3 class="experience-sam">Sam: {{data.sam.work_experience}}</h3>
    <h3 class="experience-luke">Luke: {{data.luke.work_experience}}</h3>
    <h3 class="experience-mustafa">Mustafa: {{data.mustafa.work_experience}}</h3>
</div>
{% endblock %}