{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/experience.css') }}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>Experience</h1>
    <div class="experience">
        <h2>This is our experience section! I don't remember what we want to put here and how we'll display it, but I'm
            sure it'll be awesome!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut autem consequuntur, corporis, dolor ea
            fugit illum iste itaque minus nisi praesentium qui quia repellendus rerum ut velit veritatis vitae.</p>
    </div>
{% endblock %}