{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="header">
    <h1 class="header-text">Welcome to our portfolio!</h1>
</div>

<!-- Bootstrap carousel -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

    <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <h1>Example Headline</h1>
            <p>test</p>
            <a href="#" class="btn btn-lg btn-primary">
                Check it out
            </a>
        </div>
        <div class="carousel-item">
            <h1>Example</h1>
            <p>test</p>
            <a href="#" class="btn btn-lg btn-primary">
                Check it out
            </a>
        </div>
    </div>
</div>


<div class="intro">
    <h1>Introduction</h1>
    <p class="intro-body">Hey everyone! This is Luke, Mustafa, and Sam. We are part of the 22.SUM Batch in the MLH
        Production Engineering Fellowship. To learn more about us, head over to the About section!<ip></ip>
    </p>
</div>

<div class="about">
    <h2>This is our about section! Hopefully we will have some nice photos and text in a carousel here.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eius harum impedit numquam quis repellendus
        soluta sunt! Blanditiis consequuntur doloribus eos harum incidunt ipsa itaque, necessitatibus nisi nobis
        reiciendis veritatis.</p>
</div>

<div class="experience">
    <h2>This is our experience section! I don't remember what we want to put here and how we'll display it, but I'm
        sure it'll be awesome!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut autem consequuntur, corporis, dolor ea
        fugit illum iste itaque minus nisi praesentium qui quia repellendus rerum ut velit veritatis vitae.</p>
</div>

<div class="map">
    <h2>This is where we'll put the map. Should be pretty sick...</h2>
</div>
{% endblock %}