<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_87925dd627cbf7ff6f3a3b418fde1f81 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    
                <style>
                    #float_image_115de7debc77e98bd6c5a3b0db7cd4df {
                        position:absolute;
                        bottom:0%;
                        left:0%;
                        }
                </style>
            
</head>
<body>    
    
            <div class="folium-map" id="map_87925dd627cbf7ff6f3a3b418fde1f81" ></div>
        
    
            <img id="float_image_115de7debc77e98bd6c5a3b0db7cd4df" alt="float_image"
                 src="/static/img/legend.jpg"
                 style="z-index: 999999">
            </img>
            
</body>
<script>    
    
            var map_87925dd627cbf7ff6f3a3b418fde1f81 = L.map(
                "map_87925dd627cbf7ff6f3a3b418fde1f81",
                {
                    center: [43.653, -79.383],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4c748962217e06a080404cb990625286 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_87925dd627cbf7ff6f3a3b418fde1f81);
        
    
            var marker_8f59b8a97388a14794aa0a732d7cdd76 = L.marker(
                [20.77025, -156.239304],
                {}
            ).addTo(map_87925dd627cbf7ff6f3a3b418fde1f81);
        
    
            var icon_8b4e2d410e9f2d6aeb5ee2bc3bf2b60a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_8f59b8a97388a14794aa0a732d7cdd76.setIcon(icon_8b4e2d410e9f2d6aeb5ee2bc3bf2b60a);
        
    
        var popup_d97a8155a3e5f7bdcc4d260f83b0b38a = L.popup({"maxWidth": "100%"});

        
            var html_e42a4df86a4d6e83f962aec137b4166d = $(`<div id="html_e42a4df86a4d6e83f962aec137b4166d" style="width: 100.0%; height: 100.0%;">Haleakala National Park, Hawaii</div>`)[0];
            popup_d97a8155a3e5f7bdcc4d260f83b0b38a.setContent(html_e42a4df86a4d6e83f962aec137b4166d);
        

        marker_8f59b8a97388a14794aa0a732d7cdd76.bindPopup(popup_d97a8155a3e5f7bdcc4d260f83b0b38a)
        ;

        
    
    
            var marker_732d04e2704091a3cdf50660c0ac8a1a = L.marker(
                [41.546322, 2.44775],
                {}
            ).addTo(map_87925dd627cbf7ff6f3a3b418fde1f81);
        
    
            var icon_ee3688a0146379ba384a09ec67f90ea4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_732d04e2704091a3cdf50660c0ac8a1a.setIcon(icon_ee3688a0146379ba384a09ec67f90ea4);
        
    
        var popup_e276bb19cb9745f09d277781ad9e71b2 = L.popup({"maxWidth": "100%"});

        
            var html_dc2aff34d61dae2bdbc8f32130bbc6c7 = $(`<div id="html_dc2aff34d61dae2bdbc8f32130bbc6c7" style="width: 100.0%; height: 100.0%;">La Sagrada Familia, Spain</div>`)[0];
            popup_e276bb19cb9745f09d277781ad9e71b2.setContent(html_dc2aff34d61dae2bdbc8f32130bbc6c7);
        

        marker_732d04e2704091a3cdf50660c0ac8a1a.bindPopup(popup_e276bb19cb9745f09d277781ad9e71b2)
        ;

        
    
    
            var marker_a0b386244eb68d9ec68ca2fa2c49de0a = L.marker(
                [50.8169, -0.1367],
                {}
            ).addTo(map_87925dd627cbf7ff6f3a3b418fde1f81);
        
    
            var icon_18cb40a239e806b63c221657135a02a5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a0b386244eb68d9ec68ca2fa2c49de0a.setIcon(icon_18cb40a239e806b63c221657135a02a5);
        
    
        var popup_9d25b85c4dd26c9a47c2914fc44f1513 = L.popup({"maxWidth": "100%"});

        
            var html_37ee1a78242ce1403b63b1a5163843fc = $(`<div id="html_37ee1a78242ce1403b63b1a5163843fc" style="width: 100.0%; height: 100.0%;">Brighton Palace Pier, UK</div>`)[0];
            popup_9d25b85c4dd26c9a47c2914fc44f1513.setContent(html_37ee1a78242ce1403b63b1a5163843fc);
        

        marker_a0b386244eb68d9ec68ca2fa2c49de0a.bindPopup(popup_9d25b85c4dd26c9a47c2914fc44f1513)
        ;

        
    
    
            var marker_da8b1986617588cfafff012a1f70b982 = L.marker(
                [43.790428, -110.681763],
                {}
            ).addTo(map_87925dd627cbf7ff6f3a3b418fde1f81);
        
    
            var icon_a3d9c9306f2a7ae38eb05801af217da8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_da8b1986617588cfafff012a1f70b982.setIcon(icon_a3d9c9306f2a7ae38eb05801af217da8);
        
    
        var popup_9339c3152b668bf2ddf59e84f53e3db5 = L.popup({"maxWidth": "100%"});

        
            var html_facc920ea6c930b45e63bd755c6bb54c = $(`<div id="html_facc920ea6c930b45e63bd755c6bb54c" style="width: 100.0%; height: 100.0%;">Grand Teton National Park, USA</div>`)[0];
            popup_9339c3152b668bf2ddf59e84f53e3db5.setContent(html_facc920ea6c930b45e63bd755c6bb54c);
        

        marker_da8b1986617588cfafff012a1f70b982.bindPopup(popup_9339c3152b668bf2ddf59e84f53e3db5)
        ;

        
    
    
            var marker_858983b5d37372aff4997373527098b0 = L.marker(
                [28.538336, -81.379234],
                {}
            ).addTo(map_87925dd627cbf7ff6f3a3b418fde1f81);
        
    
            var icon_38c0a1f7db9846bc71c90ebcd75854d3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_858983b5d37372aff4997373527098b0.setIcon(icon_38c0a1f7db9846bc71c90ebcd75854d3);
        
    
        var popup_15e3aef782483f2480fb1ddb5965b44b = L.popup({"maxWidth": "100%"});

        
            var html_57c1f8e0d9aae7bd59212082a7ecfb1c = $(`<div id="html_57c1f8e0d9aae7bd59212082a7ecfb1c" style="width: 100.0%; height: 100.0%;">Orlando, Florida, USA</div>`)[0];
            popup_15e3aef782483f2480fb1ddb5965b44b.setContent(html_57c1f8e0d9aae7bd59212082a7ecfb1c);
        

        marker_858983b5d37372aff4997373527098b0.bindPopup(popup_15e3aef782483f2480fb1ddb5965b44b)
        ;

        
    
    
            var marker_b3568624f6788aac19797afd7b5369a9 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_87925dd627cbf7ff6f3a3b418fde1f81);
        
    
            var icon_6772c41557d43e78bb6d373bd98132b3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b3568624f6788aac19797afd7b5369a9.setIcon(icon_6772c41557d43e78bb6d373bd98132b3);
        
    
        var popup_5cfbb0aea958b832a9cfd24441cc309c = L.popup({"maxWidth": "100%"});

        
            var html_be158020c39a7cc925b8e9dfda013b0c = $(`<div id="html_be158020c39a7cc925b8e9dfda013b0c" style="width: 100.0%; height: 100.0%;">New York City, USA</div>`)[0];
            popup_5cfbb0aea958b832a9cfd24441cc309c.setContent(html_be158020c39a7cc925b8e9dfda013b0c);
        

        marker_b3568624f6788aac19797afd7b5369a9.bindPopup(popup_5cfbb0aea958b832a9cfd24441cc309c)
        ;

        
    
    
            var marker_51feaf117d960108043ef85a3ae84016 = L.marker(
                [46.829853, -71.254028],
                {}
            ).addTo(map_87925dd627cbf7ff6f3a3b418fde1f81);
        
    
            var icon_61b050a404d2833da92b8ff98793ba6a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_51feaf117d960108043ef85a3ae84016.setIcon(icon_61b050a404d2833da92b8ff98793ba6a);
        
    
        var popup_c2ad82d23493acae2e9e8805fd0b2b75 = L.popup({"maxWidth": "100%"});

        
            var html_745fb1701f55bd20dfcf4f86e82535f8 = $(`<div id="html_745fb1701f55bd20dfcf4f86e82535f8" style="width: 100.0%; height: 100.0%;">Quebec City, Canada</div>`)[0];
            popup_c2ad82d23493acae2e9e8805fd0b2b75.setContent(html_745fb1701f55bd20dfcf4f86e82535f8);
        

        marker_51feaf117d960108043ef85a3ae84016.bindPopup(popup_c2ad82d23493acae2e9e8805fd0b2b75)
        ;

        
    
    
            var marker_d43a5200343491cb880d9ac0b3523b1e = L.marker(
                [45.5017, -73.5673],
                {}
            ).addTo(map_87925dd627cbf7ff6f3a3b418fde1f81);
        
    
            var icon_32eb0603c544adbe83a0b3bec3ac49d3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d43a5200343491cb880d9ac0b3523b1e.setIcon(icon_32eb0603c544adbe83a0b3bec3ac49d3);
        
    
        var popup_0c948625c7dbd72777c5f5439cd25ee0 = L.popup({"maxWidth": "100%"});

        
            var html_1ef764f362ec4aa6e9248d9ca377146d = $(`<div id="html_1ef764f362ec4aa6e9248d9ca377146d" style="width: 100.0%; height: 100.0%;">Montreal, Canada</div>`)[0];
            popup_0c948625c7dbd72777c5f5439cd25ee0.setContent(html_1ef764f362ec4aa6e9248d9ca377146d);
        

        marker_d43a5200343491cb880d9ac0b3523b1e.bindPopup(popup_0c948625c7dbd72777c5f5439cd25ee0)
        ;

        
    
    
            var marker_47af2873935f655fc900e92dc63ea3a4 = L.marker(
                [17.385, 78.4867],
                {}
            ).addTo(map_87925dd627cbf7ff6f3a3b418fde1f81);
        
    
            var icon_a4f07fea2ca03de887f8552330c81ad8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_47af2873935f655fc900e92dc63ea3a4.setIcon(icon_a4f07fea2ca03de887f8552330c81ad8);
        
    
        var popup_7ec4184d946b151e4e4982bb39706bcd = L.popup({"maxWidth": "100%"});

        
            var html_f19617e19b36470a488e4391eb0a5172 = $(`<div id="html_f19617e19b36470a488e4391eb0a5172" style="width: 100.0%; height: 100.0%;">Hyderabad, India</div>`)[0];
            popup_7ec4184d946b151e4e4982bb39706bcd.setContent(html_f19617e19b36470a488e4391eb0a5172);
        

        marker_47af2873935f655fc900e92dc63ea3a4.bindPopup(popup_7ec4184d946b151e4e4982bb39706bcd)
        ;

        
    
    
            var marker_29b3b5172ae21210ff3a308d3132e30f = L.marker(
                [25.2854, 51.531],
                {}
            ).addTo(map_87925dd627cbf7ff6f3a3b418fde1f81);
        
    
            var icon_417169464a84ab2f3e5d5d5fa2d872ae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_29b3b5172ae21210ff3a308d3132e30f.setIcon(icon_417169464a84ab2f3e5d5d5fa2d872ae);
        
    
        var popup_10ae61c18f98c1bf4caa47c871a948b5 = L.popup({"maxWidth": "100%"});

        
            var html_325b1ee7df2a926de31ba0997b29a11a = $(`<div id="html_325b1ee7df2a926de31ba0997b29a11a" style="width: 100.0%; height: 100.0%;">Doha Qatar</div>`)[0];
            popup_10ae61c18f98c1bf4caa47c871a948b5.setContent(html_325b1ee7df2a926de31ba0997b29a11a);
        

        marker_29b3b5172ae21210ff3a308d3132e30f.bindPopup(popup_10ae61c18f98c1bf4caa47c871a948b5)
        ;

        
    
</script>