<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7642fcd75f605a70a3457d4e4c87c975 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    
                <style>
                    #float_image_8c5d28914807aaf5f9c515a50d2499b4 {
                        position:absolute;
                        bottom:0%;
                        left:0%;
                        }
                </style>
            
</head>
<body>    
    
            <div class="folium-map" id="map_7642fcd75f605a70a3457d4e4c87c975" ></div>
        
    
            <img id="float_image_8c5d28914807aaf5f9c515a50d2499b4" alt="float_image"
                 src="/static/img/legend.jpg"
                 style="z-index: 999999">
            </img>
            
</body>
<script>    
    
            var map_7642fcd75f605a70a3457d4e4c87c975 = L.map(
                "map_7642fcd75f605a70a3457d4e4c87c975",
                {
                    center: [43.653, -79.383],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c7b9a49a76747a54f5522f99ca4e6a5a = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7642fcd75f605a70a3457d4e4c87c975);
        
    
            var marker_dcd00a4ea8ca449dc393c9e4352f5981 = L.marker(
                [20.77025, -156.239304],
                {}
            ).addTo(map_7642fcd75f605a70a3457d4e4c87c975);
        
    
            var icon_1a502b4787ddf8a1e4e40a2d28edee41 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_dcd00a4ea8ca449dc393c9e4352f5981.setIcon(icon_1a502b4787ddf8a1e4e40a2d28edee41);
        
    
        var popup_4c8e309bb22e6d173f8610c6c7a2e28d = L.popup({"maxWidth": "100%"});

        
            var html_d1f18e294e44f37323970b98d96b2710 = $(`<div id="html_d1f18e294e44f37323970b98d96b2710" style="width: 100.0%; height: 100.0%;">Haleakala National Park, Hawaii</div>`)[0];
            popup_4c8e309bb22e6d173f8610c6c7a2e28d.setContent(html_d1f18e294e44f37323970b98d96b2710);
        

        marker_dcd00a4ea8ca449dc393c9e4352f5981.bindPopup(popup_4c8e309bb22e6d173f8610c6c7a2e28d)
        ;

        
    
    
            var marker_e67ea60f233d262fcad3eaa88385666f = L.marker(
                [41.546322, 2.44775],
                {}
            ).addTo(map_7642fcd75f605a70a3457d4e4c87c975);
        
    
            var icon_4a8d3e082434b5c075c2222e20c3a0e7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e67ea60f233d262fcad3eaa88385666f.setIcon(icon_4a8d3e082434b5c075c2222e20c3a0e7);
        
    
        var popup_0f62fbfbf5f4241ad59b7dc0976278dd = L.popup({"maxWidth": "100%"});

        
            var html_aca12fa1b7d94cce96b534660ccbbcfb = $(`<div id="html_aca12fa1b7d94cce96b534660ccbbcfb" style="width: 100.0%; height: 100.0%;">La Sagrada Familia, Spain</div>`)[0];
            popup_0f62fbfbf5f4241ad59b7dc0976278dd.setContent(html_aca12fa1b7d94cce96b534660ccbbcfb);
        

        marker_e67ea60f233d262fcad3eaa88385666f.bindPopup(popup_0f62fbfbf5f4241ad59b7dc0976278dd)
        ;

        
    
    
            var marker_b88c853c08569e39854536bdbe7bae13 = L.marker(
                [50.8169, -0.1367],
                {}
            ).addTo(map_7642fcd75f605a70a3457d4e4c87c975);
        
    
            var icon_12da28fa6c6eb1d67d4df55621b76ea3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b88c853c08569e39854536bdbe7bae13.setIcon(icon_12da28fa6c6eb1d67d4df55621b76ea3);
        
    
        var popup_ba30dd63fb41e867d02c69388afda883 = L.popup({"maxWidth": "100%"});

        
            var html_96db3a56f87e1a5b43105f5b0b24cb99 = $(`<div id="html_96db3a56f87e1a5b43105f5b0b24cb99" style="width: 100.0%; height: 100.0%;">Brighton Palace Pier, UK</div>`)[0];
            popup_ba30dd63fb41e867d02c69388afda883.setContent(html_96db3a56f87e1a5b43105f5b0b24cb99);
        

        marker_b88c853c08569e39854536bdbe7bae13.bindPopup(popup_ba30dd63fb41e867d02c69388afda883)
        ;

        
    
    
            var marker_b43d2a20a3b43f446351fba286a785e7 = L.marker(
                [43.790428, -110.681763],
                {}
            ).addTo(map_7642fcd75f605a70a3457d4e4c87c975);
        
    
            var icon_11064d9c2d6e311cbdd1a2d3a9e21e8a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b43d2a20a3b43f446351fba286a785e7.setIcon(icon_11064d9c2d6e311cbdd1a2d3a9e21e8a);
        
    
        var popup_88f36f4301efe98dea36869da620d57d = L.popup({"maxWidth": "100%"});

        
            var html_6c10d8b5c49ee8509eaef6e9899f20df = $(`<div id="html_6c10d8b5c49ee8509eaef6e9899f20df" style="width: 100.0%; height: 100.0%;">Grand Teton National Park, USA</div>`)[0];
            popup_88f36f4301efe98dea36869da620d57d.setContent(html_6c10d8b5c49ee8509eaef6e9899f20df);
        

        marker_b43d2a20a3b43f446351fba286a785e7.bindPopup(popup_88f36f4301efe98dea36869da620d57d)
        ;

        
    
    
            var marker_abe72fb1233c969b7dd59597ec863b89 = L.marker(
                [28.538336, -81.379234],
                {}
            ).addTo(map_7642fcd75f605a70a3457d4e4c87c975);
        
    
            var icon_6424e69e7c6b7e223e8e3073b0bff90b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_abe72fb1233c969b7dd59597ec863b89.setIcon(icon_6424e69e7c6b7e223e8e3073b0bff90b);
        
    
        var popup_ae05634df8e1a6238077e627b0f11b58 = L.popup({"maxWidth": "100%"});

        
            var html_cb1d8c45a65beecae47be0b677ad0868 = $(`<div id="html_cb1d8c45a65beecae47be0b677ad0868" style="width: 100.0%; height: 100.0%;">Orlando, Florida, USA</div>`)[0];
            popup_ae05634df8e1a6238077e627b0f11b58.setContent(html_cb1d8c45a65beecae47be0b677ad0868);
        

        marker_abe72fb1233c969b7dd59597ec863b89.bindPopup(popup_ae05634df8e1a6238077e627b0f11b58)
        ;

        
    
    
            var marker_91d79799507caa60ceaaac8e4320e901 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_7642fcd75f605a70a3457d4e4c87c975);
        
    
            var icon_de16c8e0462a38a0a2aebe48e4c17ea1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_91d79799507caa60ceaaac8e4320e901.setIcon(icon_de16c8e0462a38a0a2aebe48e4c17ea1);
        
    
        var popup_b7961a9484e4e892d49ccce698024b4e = L.popup({"maxWidth": "100%"});

        
            var html_c1b9a635e7107377235c2b6110982027 = $(`<div id="html_c1b9a635e7107377235c2b6110982027" style="width: 100.0%; height: 100.0%;">New York City, USA</div>`)[0];
            popup_b7961a9484e4e892d49ccce698024b4e.setContent(html_c1b9a635e7107377235c2b6110982027);
        

        marker_91d79799507caa60ceaaac8e4320e901.bindPopup(popup_b7961a9484e4e892d49ccce698024b4e)
        ;

        
    
    
            var marker_2c15351c0e887b23e23b3975bb5c2307 = L.marker(
                [46.829853, -71.254028],
                {}
            ).addTo(map_7642fcd75f605a70a3457d4e4c87c975);
        
    
            var icon_cac060a7d622d1d761697e40e96a1aa8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2c15351c0e887b23e23b3975bb5c2307.setIcon(icon_cac060a7d622d1d761697e40e96a1aa8);
        
    
        var popup_e2b8d36e59a5e3863847898bec297447 = L.popup({"maxWidth": "100%"});

        
            var html_a707d582f112bc96d605ce95052c04e0 = $(`<div id="html_a707d582f112bc96d605ce95052c04e0" style="width: 100.0%; height: 100.0%;">Quebec City, Canada</div>`)[0];
            popup_e2b8d36e59a5e3863847898bec297447.setContent(html_a707d582f112bc96d605ce95052c04e0);
        

        marker_2c15351c0e887b23e23b3975bb5c2307.bindPopup(popup_e2b8d36e59a5e3863847898bec297447)
        ;

        
    
    
            var marker_89c05a1b9bbfd4e7f6192dc43a3f9f36 = L.marker(
                [45.5017, -73.5673],
                {}
            ).addTo(map_7642fcd75f605a70a3457d4e4c87c975);
        
    
            var icon_5cfa58d334b0fd70e80ab401d8337577 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_89c05a1b9bbfd4e7f6192dc43a3f9f36.setIcon(icon_5cfa58d334b0fd70e80ab401d8337577);
        
    
        var popup_7c84aaf3897e5af716fed00225e217c3 = L.popup({"maxWidth": "100%"});

        
            var html_a4b10de0d95f9b7a9dac884a75001754 = $(`<div id="html_a4b10de0d95f9b7a9dac884a75001754" style="width: 100.0%; height: 100.0%;">Montreal, Canada</div>`)[0];
            popup_7c84aaf3897e5af716fed00225e217c3.setContent(html_a4b10de0d95f9b7a9dac884a75001754);
        

        marker_89c05a1b9bbfd4e7f6192dc43a3f9f36.bindPopup(popup_7c84aaf3897e5af716fed00225e217c3)
        ;

        
    
    
            var marker_be077d08a51109dde792d4d6a29e9cae = L.marker(
                [17.385, 78.4867],
                {}
            ).addTo(map_7642fcd75f605a70a3457d4e4c87c975);
        
    
            var icon_1cac6ab681342484c8961a0044077a7e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_be077d08a51109dde792d4d6a29e9cae.setIcon(icon_1cac6ab681342484c8961a0044077a7e);
        
    
        var popup_606400fd22c4128521b7c171bb1d4ba3 = L.popup({"maxWidth": "100%"});

        
            var html_aa19aad9dd6527bd305f6a17b5709282 = $(`<div id="html_aa19aad9dd6527bd305f6a17b5709282" style="width: 100.0%; height: 100.0%;">Hyderabad, India</div>`)[0];
            popup_606400fd22c4128521b7c171bb1d4ba3.setContent(html_aa19aad9dd6527bd305f6a17b5709282);
        

        marker_be077d08a51109dde792d4d6a29e9cae.bindPopup(popup_606400fd22c4128521b7c171bb1d4ba3)
        ;

        
    
    
            var marker_55da3260c325cb4f4c541221d607dbb9 = L.marker(
                [25.2854, 51.531],
                {}
            ).addTo(map_7642fcd75f605a70a3457d4e4c87c975);
        
    
            var icon_474e34895d962337ee5338bae7a431e8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_55da3260c325cb4f4c541221d607dbb9.setIcon(icon_474e34895d962337ee5338bae7a431e8);
        
    
        var popup_b27229fe73f18f048a220a31492b5695 = L.popup({"maxWidth": "100%"});

        
            var html_f46084f001599337a15e2040142b4c6d = $(`<div id="html_f46084f001599337a15e2040142b4c6d" style="width: 100.0%; height: 100.0%;">Doha Qatar</div>`)[0];
            popup_b27229fe73f18f048a220a31492b5695.setContent(html_f46084f001599337a15e2040142b4c6d);
        

        marker_55da3260c325cb4f4c541221d607dbb9.bindPopup(popup_b27229fe73f18f048a220a31492b5695)
        ;

        
    
</script>