{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/timeline.css') }}">
    <script src="{{ url_for('static', filename='scripts/timeline.js') }}" defer></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="background">
        <div class="mask">
            <h1>Timeline</h1>

            <form id="timeline-form">
                <label for="name">Name</label>
                <input name="name" id="name" type="text">

                <label for="email">Email</label>
                <input name="email" id="email" type="text">

                <label for="content">Content</label>
                <input name="content" id="content" type="text">

                <button type="submit">Create post</button>
            </form>

            <div id="timeline">

            </div>
        </div>
    </div>


{% endblock %}

{% block footer %}{% endblock %}
